<div id="wrapper" ng-class="vm.toggle ? 'toggled' : ''" >

    <sidebar></sidebar>

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <h1>Debate Brackets</h1>
                    <p>The Current Debate Bracket is:</p>
                   <table cellpadding="5" style="background-color: #F5F5F5";>
                       <thead>
                           <tr>
                            <th align="left">Quarter-Finals</th><th align="left"></th>
                            <th align="left">Semi-Finals</th>
                            <th align="left"></th>
                            <th align="left">Grand Final</th>
                            <th align="left"></th>
                            <th align="left">Champion</th>
                            </tr>
                       </thead>
                       <tbody>
                    <tr style="background-color: #9ad7b4;">
                    <td align="left"><a title="Canyon High" href="/bracket/High"><img src="/images/canyonHigh.jpg" alt="Canyon High" style="width:50px;height:50px;"></a></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    </tr>
                    <tr>
                    <td align="left">VS</td>
                    <td align="left">--</td>
                    <td align="left"><a title="Canyon High" href="/bracket/High"><img src="/images/canyonHigh.jpg" alt="Canyon High" style="width:50px;height:50px;"></a></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    </tr>
                    <tr style="background-color: #9ad7b4;">
                    <td align="left"> <a title="Canyon Intermediate" href="/bracket/Intermediate"><img src="/images/canyonInter.jpg" alt="Intermediate" style="width:50px;height:50px;"></a></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    </tr>
                    <tr>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left">VS</td>
                    <td align="left">--</td>
                    <td align="left"><a  title="Gene Howe" href="/bracket/Gene"><img src="/images/gene.jpg" alt="Gene" style="width:50px;height:50px;"></a></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    </tr>
                    <tr style="background-color: #9ad7b4;">
                    <td align="left"><a title="Greenway Gladiators" href="/bracket/Greenway"><img src="/images/greenway.jpg" alt="Greenway" style="width:50px;height:50px;"></a></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    </tr>
                    <tr>
                    <td align="left">VS</td>
                    <td align="left">--</td>
                    <td align="left"><a  title="Gene Howe" href="/bracket/Gene"><img src="/images/gene.jpg" alt="Gene" style="width:50px;height:50px;"></a></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    </tr>
                    <tr style="background-color: #9ad7b4;">
                    <td align="left"><a  title="Gene Howe" href="/bracket/Gene"><img src="/images/gene.jpg" alt="Gene" style="width:50px;height:50px;"></a></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    </tr>
                    <tr>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left">VS</td>
                    <td align="left">--</td>
                   <td align="left"><a  title="Gene Howe" href="/bracket/Gene"><img src="/images/gene.jpg" alt="Gene" style="width:50px;height:50px;"></a></td>
                    </tr>
                    <tr style="background-color: #9ad7b4;">
                    <td align="left"><a title="Midway" href="/bracket/Midway"><img src="/images/midway.jpg" alt="Midway" style="width:50px;height:50px;"></a></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    </tr>
                    <tr>
                    <td align="left">vs</td>
                    <td align="left">--</td>
                    <td align="left"><a title="Randall" href="/bracket/Randall"><img src="/images/randall.jpg" alt="Randall" style="width:50px;height:50px;"></a></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    </tr>
                    <tr style="background-color: #9ad7b4;">
                    <td align="left"><a title="Randall" href="/bracket/Randall"><img src="/images/randall.jpg" alt="Randall" style="width:50px;height:50px;"></a></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    </tr>
                    <tr>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left">VS</td>
                    <td align="left">--</td>
                    <td align="left"><a title="Westover" href="/bracket/Westover"><img src="/images/westover.jpg" alt="Westover" style="width:50px;height:50px;"></a></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    </tr>
                    <tr style="background-color: #9ad7b4;">
                     <td align="left"><a title="Reeves" href="/bracket/Reeves"><img src="/images/reeves.jpg" alt="Reeves" style="width:50px;height:50px;"></a></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    </tr>
                    <tr>
                    <td align="left">VS</td>
                    <td align="left">--</td>
                     <td align="left"><a title="Westover" href="/bracket/Westover"><img src="/images/westover.jpg" alt="Westover" style="width:50px;height:50px;"></a></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    </tr>
                    <tr style="background-color: #9ad7b4;">
                    <td align="left"><a title="Westover" href="/bracket/Westover"><img src="/images/westover.jpg" alt="Westover" style="width:50px;height:50px;"></a></a></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    <td align="left"></td>
                    </tr>
                    </tbody>
                   </table>
                        
                        
                        
                        <br>
                    <button type="button" class="btn btn-default btn-link" id="menu-toggle" ng-model="vm.toggle" ng-click="vm.toggle=!vm.toggle">Toggle Menu</button>
                </div>
            </div>
            <br>
            <footer-generic></footer-generic>
        </div>
        
    </div>
    <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->

